PIAccess/bin
PIAccess/bin/*
PIAccess/*.log
PIAccess/PIInterface.*
pisrc/PITest/*.user
pisrc/*.ncb
pisrc/*.suo
pisrc/*.user
pisrc-MFC/*.ncb
pisrc-MFC/*.suo
pisrc-MFC/Debug
pisrc-MFC/Debug/*
pisrc-MFC/Release
pisrc-MFC/Release/*
pisrc-MFC/PIInterface/*.user
pisrc-MFC/PIInterface/Debug
pisrc-MFC/PIInterface/Debug/*
pisrc-MFC/PIInterface/Release
pisrc-MFC/PIInterface/Release/*
pisrc-MFC/PITest/*.user
pisrc-MFC/PITest/*.aps
pisrc-MFC/PITest/Debug
pisrc-MFC/PITest/Debug/*
pisrc-MFC/PITest/Release
pisrc-MFC/PITest/Release/*