PIAccess/bin
PIAccess/bin/*
pisrc-MFC/*.ncb
pisrc-MFC/*.suo
pisrc-MFC/Debug
pisrc-MFC/Debug/*
pisrc-MFC/PIInterface/*.user
pisrc-MFC/PIInterface/Debug
pisrc-MFC/PIInterface/Debug/*
pisrc-MFC/PITest/*.user
pisrc-MFC/PITest/Debug
pisrc-MFC/PITest/Debug/*